@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.imgContainer {
  position: relative;
  width: 100%;
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  background: transparent;
  box-sizing: border-box;
  overflow: hidden;
}

.imgContainer img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.texto {
  width: 50%;
  font-size: 72px;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin-bottom: 16px;
  font-family: "Poppins", sans-serif;
}

.paragrafo {
  width: 50%;
  font-size: 32px;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-family: Dancing Script, cursive;
}

@media (max-width: 900px) {
  .texto {
    width: 80%;
    font-size: 8vw;
  }

  .paragrafo {
    width: 80%;
    font-size: 5vw;
  }
}

@media (max-width: 600px) {
  .texto {
    width: 98%;
    font-size: 10vw;
  }

  .paragrafo {
    width: 98%;
    font-size: 6vw;
  }
}
